.mirror{
	width: 30%;
	background: white;
	color: white;
	position: fixed;
	height: 100%;
	left: -100%;
	top: 0;
	bottom: 0;
	z-index: 9999;
	box-shadow: 0px 0px 12px black;
	padding: 20px;
	padding-top: 60px;
	overflow-y:auto;
	transition: all .4s;
}
.mirror img{
	opacity: 0;
	width: 100%;
}
.show{
	left: 0 !important;
	transition: all .4s;
}
.show img{
	opacity: 1 !important;
	transition: all .6s .2s;
}

@media screen and (max-width: 800px){
	.mirror{
		width: 90%;
	}
}

.stick-bottom{
	bottom: 0;
	color: black;
	position: absolute;
	margin-right: 20px;
	margin-bottom: 20px;
}

.mirror .spread li{
	margin-top: 8px;
	margin-bottom: 8px;
}